.icon-listbox {
  background-color: @theme_bg_color;
}

.icon-listbox flowboxchild {
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.icon-listbox flowboxchild:hover {
  background: alpha(currentColor, .07);
}

.icon-listbox flowboxchild:active {
  background: alpha(currentColor, .16);
}

.icon-listbox flowboxchild:selected {
  background: alpha(currentColor, .1);
}

icon {
  margin-top: 12px;
  margin-bottom: 12px;
}

.sourceview {
  padding: 4px 8px;
}

stackswitcher.narrow button {
  min-width: 0;
}

.code {
  border-radius: 12px;
  border: 1px solid @borders;
}
